@import '../../assets/icons.scss'; 

.unit-card {
    margin: 3% 3% 6% 6%;
}


.button-div-carousel {
    width: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.max-w {
	max-width: 85%;
}


.carousel-content {
    overflow: hidden !important;
}

::-webkit-scrollbar {
    display: none;
}

.button-icon-arrow-left {
	cursor: pointer;
	background: no-repeat $icon-arrow-left;
	width: 24px;
	height: 24px;
	background-size: contain;
	background-position: center;
	display: flex;
    align-self: center;
}

.button-icon-arrow-right {
	cursor: pointer;
	background: no-repeat $icon-arrow-right;
	width: 24px;
	height: 24px;
	background-size: contain;
	background-position: center;
	display: flex;
    align-self: center;
}

.margin-label {
	margin-top: 5%;
}

.label-carousel {
    text-align: start;
    font-size: 25px;
    font-weight: 700;
}

.span-carousel {
    color: #40c97d;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}