@import '../../assets/icons.scss'; 
@import '../../assets/images.scss'; 

.market-car-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90px;
}

.padding-buttons-tab {
	padding: 0% 15%;
}

.button-icon-less-gray {
	cursor: default;
	background: no-repeat $icon-less-gray;
	width: 24px;
	height: 24px;
	background-size: contain;
	background-position: center;
	display: flex;
    align-self: center;
}

.button-icon-less-green {
	cursor: pointer;
	background: no-repeat $icon-less-green;
	width: 24px;
	height: 24px;
	background-size: contain;
	background-position: center;
	display: flex;
    align-self: center;
}

.button-icon-plus-green {
	cursor: pointer;
	background: no-repeat $icon-plus-green;
	width: 24px;
	height: 24px;
	background-size: contain;
	background-position: center;
	display: flex;
    align-self: center;
}

.button-icon-trash {
	cursor: pointer;
	background: no-repeat $trash-icon-gray;
	width: 24px;
	height: 24px;
	background-size: contain;
	background-position: center;
	display: flex;
    align-self: center;
}

.oops-image {
    width: 45px;
    height: 45px;
    background-size: 97% !important;
    margin-left: 1%;
    background: no-repeat $oops-image;
}

.text-name {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    text-align: start;
}

.text-price-modal {
    @extend .text-name;
    align-self: center;
    .span-price-symbol {
        color: #25c16a;
    }
}

.text-car-market {

    align-content: center;
    justify-content: space-between;
    margin: 2% 0%;
	font-weight: 700;

    .text-title {
        color: #76d8a1;
        font-size: 18px;
        font-weight: 300;
    }
	.gramer-market {
		font-weight: 200;
	}
}
